//doc

 ---
 title: Inline Lists
 name: lists
 category: app
 ---

 ```html_example
 <ul class="list-inline">
   <li>Pancakes
   <li>French Toast
   <li>Breakfast Burritos
   <li>Hot dogs
 </ul>

 ```

.list-inline
  display: inline-block
  margin: 0
  padding: 0
  list-style: none
  li
    padding: 0
    margin-left: .8em
    display: inline-block

  li:first-child
    margin-left: 0

//doc

 ---
 title: Media Block
 name: media_block
 category: app
 ---

 ```html_example
 <div class="media">
   <a href="http://twitter.com/stubbornella" class="image">
     <img src="http://fillmurray.com/100/100" alt="Not actually a picture of Nicole Sullivan" />
   </a>

   <div class="body">
     <a href="http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/">
       How to media block
     </a>
     <br>@Stubbornella 14 minutes ago
   </div>
 </div>
 ```

.media
  margin: 10px

  &, .body
    overflow: hidden
    _overflow: visible
    zoom: 1

  .image
    float: left
    margin-right: 10px

  .imageExt
    float: right
    margin-left: 10px

//doc
 ---
 title: Buttons
 name: buttons
 category: app
 ---

 ```html_example
 <a class="btn">Hi</a>
 <button class="btn btn-primary">Click me!</button>
 ```
.btn
  border: 1px solid darken($backgroundColor, 30%)
  background-color: darken($backgroundColor, 10%)
  border-radius: 4px
  font-size: 18px
  font-family: "Open Sans", Helvetica, Arial, sans-serif
  line-height: 1.4em
  padding: 2px 7px 3px 7px
  color: $textColor
  display: inline-block
  box-shadow: 0 2px 0 0 darken($backgroundColor, 30%)
  cursor: pointer

  &:active
    position: relative
    top: 1px
    box-shadow: 0 1px 0 0 darken($backgroundColor, 30%)

  &:hover
    text-decoration: none


button.btn
  padding: 1px 7px 2px 7px

  &:active
    position: relative
    top: 1px

.btn-primary
  border-color: lighten($blue, 7%)
  background-color: lighten(desaturate($blue, 30%), 20%)
  color: #fff
  box-shadow: 0 2px 0 0 lighten($blue, 7%)

  &:active
    box-shadow: 0 1px 0 0 lighten($blue, 7%)
