//
 /*doc
 
 ---
 title: Typography
 name: 0typography
 category: basics
 author: JD
 ---

 ```html_example
 <h1>This is super important</h1>
 <p>
   This is regular text that should look good in long lines or groups of
   text.
 </p>
 <h2>This is a sub-heading for another point</h2>
 <p>
   This is regular text that should look good in long lines or groups of
   text.
 </p>
 <p>
   Some times you need to link to something 
   <a href="http://goodrobot.net">neat.</a> or something <a href="http://donotclick.com">new</a>
 </p>
 <p>
   A couple other things you might want to be able to do is <b>emphasize
   text</b>, <i>italics</i> and <code>code snippets</code>. 
 ```
 */

body 
  font-family: "Open Sans", Helvetica, Arial, sans-serif
  font-size: 18px
  font-style: normal
  font-weight: 300
  text-transform: normal
  letter-spacing: normal
  line-height: 1.45em

h1, h2, .article-details
  font-family: 'Gentium Basic', serif
  font-weight: normal

h1
  font-size: 2.3em

h2
  font-size: 2em
  margin-bottom: .6em

a
  text-decoration: none
  color: $linkColor

  &:hover
    text-decoration: underline

  &:active
    outline: 0

b, .emphasize
  font-weight: bold

i, .italic
  font-style: italic

code 
  background-color: $codeBackgroundColor
  border: 1px solid $codeBorderColor
  border-radius: 4px

