//some nice colors

$header1: rgb(120, 188, 153)
$header2: rgb(93, 160, 142)
$header3: rgb(57, 130, 130)
$blue: #1e4967

$grey: #888

$textColor: #222
$typeLowlight: #444

$textFadeStart: $header1
$textFadeEnd: $blue

$backgroundColor: $blue
$backgroundContentColor: #fafaf7

// needed from stream page mostly
$listBackground: #fafaf1
$listBackgroundHighlight: #fefefa
$listBorderColor: #dadad1
$headerBackground: #0a476a
$headerText: #fff
$lowlightText: #8a8a81

$wellTextColor: #444
$wellBackgroundColor: #fafafa

$touchListBorder: 1px solid #dadad1

$headerBackgroundColor: $blue
$headerTextColor: #fff

$linkColor: $blue
$linkColorVisited: $blue

$codeBackgroundColor: darken($backgroundContentColor, 5%)
$codeBorderColor: darken($backgroundContentColor, 25%)

$blockQuoteBackgroundColor: darken($backgroundContentColor, 5%)

$headingColor: #444

$imgBorderColor: darken($backgroundContentColor, 25%)
