body {
  padding-top: 50px;
}

.doc-contents {
  margin: 0 auto;
  max-width: 900px;
  width: 80%;
}

.codeExample {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.codeExample:before {
  content: "Preview";
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 3px;
  padding: 0 4px;
  color: #888;
}

.codeBlock {
  border-top: 1px solid #ccc;
}
.codeBlock:before {
  content: "Code";
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 3px;
  padding: 0 4px;
  color: #888;
}

.codeBlock pre {
  font-size: .9em
}

.exampleOutput {
  padding: 5px;
}


