$font-family: Menlo, Consolas, monospace
$font-color: #333
$font-size: 16px
$border-color: #ccc
$border: 1px solid $border-color

$padding-large: 20px
$padding-medium: 10px
$padding-small: 5px

$border-radius: 3px

html,
body
  font-size: $font-size
  font-family: $font-family
  color: $font-color
  padding: 0
  margin: 0

input
  font-size: $font-size
  font-family: $font-family
  color: $font-color

// layout
.content
  width: 700px
  margin: auto
// content
// grid
// common html elements
table
  width: 100%
  border-spacing: 0
  border-collapse: separate

  .collapsing
    width: 1px
    white-space: nowrap

table.hover tbody>tr:hover
  background-color: #dff3ff

tr.row-highlight
  background-color: #a6dcfe

td
  padding: $padding-small

thead
  text-align: left
// list styles
ul
  list-style: none

.list-bullets
  list-style: disc

.list-inline
  padding: 0
  margin: 0
  display: inline-block
  li
    display: inline-block
    margin-right: 5px
// buttons
button, .button
  background-color: #f9f9f9
  border-radius: $border-radius
  border: $border
  font-family: $font-family
  font-size: $font-size
  padding: $padding-medium
  cursor: pointer

  &:hover, &:hover
    background-color: darken(#f9f9f9, 10%)

  &:active
    background-color: darken(#f9f9f9, 15%)

  &.primary
    background-color: #0087dd
    border-radius: $border-radius
    padding: $padding-medium
    color: #fff
    border: $border
    border-color: darken(#0087dd, 20%)

    &:hover
      background-color: darken(#0087dd, 10%)

    &:active
      background-color: darken(#0087dd, 15%)

.button-group
  font-size: 0
  display: inline-block

  button, .button
    border-radius: 0
    border-left-width: 0
    border-right-width: 0

    &:first-child
      border-top-left-radius: $border-radius
      border-bottom-left-radius: $border-radius
      border-left-width: 1px !important

    &:last-child
      border-top-right-radius: $border-radius
      border-bottom-right-radius: $border-radius
      border-right-width: 1px !important

// modals
.box
  border-radius: $border-radius
  border: $border

  header
    border-bottom: $border
    padding: $padding-large

  .box-content
    padding: $padding-large

  footer
    padding: $padding-large
    border-top: $border
    text-align: right
// forms (at least input=text)
// toolbars
.toolbar
  display: flex
  border-bottom: 3px solid #0087dd
  padding: 8px
  margin: 0 4px 15px

  .toolbar-header
    display: inline-block
    font-size: 20px
    font-weight: bold

//utils
.align-center
  text-align: center

.align-right
  text-align: right

.align-left
  text-align: left

